body {
	background: #242424;
	color: white;
}

/* decrease size of the header and its drawer button*/
.mdl-layout__header, .mdl-layout__header-row {
    min-height: 48px !important;
    height: 48px !important;
}

.mdl-layout__drawer-button {
    margin: 0px !important;
}

.mdl-navigation > a {
  text-decoration: none;
  margin: auto;
}

.mdl-layout__drawer {
	background: #242424;
	color: white;
	border-right: none !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
	background: #37474F;
	color: white;
}