/* basic config setting to change theme */
body {
	background: black;
	font-family: roboto;
}

/* decrease size of the header and its drawer button*/
.mdl-layout__header, .mdl-layout__header-row {
    min-height: 48px !important;
    height: 48px !important;
    background: #263238;
}

.mdl-layout__drawer-button {
    margin: 0px !important;
}

.mdl-navigation > a {
  text-decoration: none;
  margin: auto;
}

.mdl-layout__drawer {
	background: #242424;
	color: white;
	border-right: none !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
	background: #37474F;
	color: white;
}

.better-row, .col-md-3 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.task-card {
    margin: 0px !important;
}


.task-column {
	color: white;
}

.card {
	border-radius: 0px !important;
	/*margin: 1px;*/
	margin-bottom: 0px;
}

.card-block {
	padding: 0.7rem;
}

.card-inverse {
	background-color: black !important;
	border-top: none;
}
.card-text {
	color:white !important;
	font-size: 90%;
}

.card-name {
	font-weight: bolder;
	color: #FFFF00;
}

.card-property {
	color: #FFD600;
}